.menuDrawer {
    box-shadow: none;
}

.mainSection {
    height: 100%;
}

.masterHeadLogo {
    max-height: 40px;
}

.textBlack {
    color: #151515;
}

.pf-v5-c-expandable-section__toggle{
    display: block;
    width: 100%;;
}